/* Estilos comuns */

/*estilo do menu*/
.menu {
  align-items: center;
  background-color: #BC1818;
}

.menu_item {
  display: inline-block;
  margin-right: 30px;
}

#start {
  margin-left: 50px;
}


.item-click {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-size: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

button {
  border: 1px solid white;
  border-radius: 8px;
  background: none;
  margin-left: 20px;
  text-align: center;
}




/* Estilo do botão de login e cadastro ao passar o mouse por cima*/
button:hover {

  transform: scale(1.08);
  ;
}

#login-menu,
#cadastro-menu {
  font-size: 20px;
}


/*estilo do main*/


.informacao {
  margin-top: 70px;
}

.information {
  margin-top: 30px;
}



.texto {
  background-color: #f7f3f3;
}

/* Estilos para telas maiores */
@media screen and (min-width: 768px) {
  .menu {
    z-index: 1;
    width: 100vw;
    position: fixed;
    top: 0;
  }

  .menu img {
    width: 200px;
    height: 50px;

  }

  .topo-site {

    display: flex;
    margin-top: 90px;
    width: 100vw;
    height: 580px;
    justify-content: space-between;

  }

  .div-topo {
    margin-left: 50px;
    display: inline-block;
  }


  #imgsangue {
    margin-left: 150px;
    width: 700px;
  }

  .text-doe-sangue {

    width: 40vw;
    position: relative;
    right: 1px;
    color: #D50000;
    margin-top: 70px;
  }

  .text-doe-sangue p {
    color: black;
    font-size: 20px;
    margin-top: 35px;
  }

  .text-doe-sangue button {
    font-size: large;
    margin-top: 20px;


  }

hr{
  color: #BC1818;
}

  #doe-agora {
    background-color: #146DC6;
    color: white;
  }

  #no-doador {
    border: 1px solid #BC1818;
    border-radius: 8px;
    color: black;
  }

  .titulos {
    font-size: 40px;
    color: #BC1818;
  }

  .textos {
    border-radius: 10px;
    background: rgb(245, 243, 243); 
    width: 80vw;
    margin-top: 30px;

  }

  .textos button{
    background-color: white;
    border: 1px solid #BC1818;
    margin-right: 300px;
    margin-bottom: 50px;
    font-size: 20px;
  
  }

  .textos button:hover{
    background-color: #BC1818;
  }

  .textos p {
    font-size: 20px;
  }

  .seja-parceiro{
    display: flex;
    justify-content: space-between;
  }

  .textos h3{
    color: #146DC6;
    font-size: 30px;
  }

.beneficios{
  display: flex;
  justify-content: space-between;
}  

  .informacao {
    margin-left: 200px;
  }

  .information {
    display: flex;
    flex-wrap: wrap;
  }

  .texto {
    margin-top: 10px;
    padding: 0;
    margin: 10px;
  }

  /*rodapé*/
  footer {
    display: flex;
    background-color: #BC1818;
    position: relative;
    width: 100vw;
  
  }

  .rodape {
    font-family: Arial;
    margin-left: 150px;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #ffffff;
  }

  #footer_content {
    background-color: #BC1818;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 5.5rem;
    
  }
  
  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  
  #footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #BC1818;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }

}

@media screen and (max-width: 768px){
  #footer_content{
    display: flex;
    flex-wrap: wrap;
    background-color: #BC1818;
  }
} 