/*estilos comuns*/

.navbar {
  display: flex;
  align-items: center;
  background-color: #BC1818;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

button:hover {
  transform: scale(1.08);
}

.text-doe-sangue button {
  border: 1px solid #BC1818;
  background: none;
  border-radius: 8px;

}

.textos {
  background-color: #D9D9D9;
  border-radius: 8px;
}

.text-doe-sangue h1 {
  color: #D50000;
}

.seja-parceiro {
  display: flex;
}

.textos button {
  border: 1px solid #BC1818;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 15px;
  margin-bottom: 30px;
}

.textos button:hover {
  background-color: #BC1818;
}

.textos h3 {
  color: #146DC6;
}

.textos h2 {
  color: #D50000;
}

.beneficios {
  display: flex;
}

.beneficios img{
  max-height: 400px;
}

footer{
  background-color: #BC1818;
}

.footer-content{
  display: flex;
  justify-content: center;
}

.rodape{
  display: inline-flex;
}

footer ul{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer h4{
  color: #ffffff;
}

footer a{
  color: #ffffff;
  text-decoration: none;

}



/* Estilos para telas grandes */
@media (min-width: 768px) {

  /* Barra suspensa */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BC1818;
    padding: 10px;
  }

  .navbar-bran img {
    width: 200px;
    height: 50px;
  }

  .menu_item ul {

    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }

  .menu_item a {
    color: #ffffff;
  }

  .item-click,
  .item-click:visited {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }

  .menu_item button {
    cursor: pointer;
    background: none;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 20px;
  }

  .topo-site {
    display: flex;
    justify-content: space-around;
  }


  .text-doe-sangue {
    margin-top: 100px;
  }

  .btn-doe {
    display: flex;
    position: relative;
    right: 25px;
  }

  .text-doe-sangue button {
    font-size: 20px;
    margin-left: 20px;
  }

  .seja-parceiro button {
    margin-left: 100px;
  }

  .informacao {
    margin-top: 70px;
    width: 70vw;
    margin-left: 200px;
  }

  .textos {
    margin-top: 30px;
  }

  .textos h2,
  h3,
  p,
  img {
    
    margin-bottom: 20px;
  }

  hr {
    color: #BC1818;
  }


}

/* Estilos para dispositivos móveis */
@media (max-width: 767px )  {

  /* Barra suspensa */
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navbar-bran img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }

  #end{
    display: flex;
    margin-left: 25px;
  }

  .menu_item ul {
    display: flow-root;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu_item button {
    cursor: pointer;
    background: none;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 50px;
  }

  .item-click,
  .item-click:visited {
    color: #f0f0f0;
    text-decoration: none;
    padding: 10px;
  }

  #imgsangue {
    width: 300px;
  }

  .topo-site {
    text-align: center;
  }

  .btn-doe {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
  }

  .informacao {

    width: 90vw;
    margin-top: 50px;
    margin-left: 15px;
  }

  hr {
    color: #BC1818;
  }


  .textos {
    margin-top: 20px;
  }

  .beneficios{
    flex-direction: column;
  }

  .beneficios img {
    max-width: 300px;
    height: 300px;
    
  }

  footer a{
    color: #ffffff;
    text-decoration: none;

  }

}