body {
  height: 100vh;
  background-image: url("/public/fundo-embaçado.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 700px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: left;
  color: rgb(224, 64, 64);
}

h2 {
  text-align: center;
  color: rgb(224, 64, 64);
  /* Vermelho */
}

h3 {
  text-align: left;
  color: rgb(35, 35, 148);
}

.form-group {
  margin-bottom: 20px;
  margin-left: 5%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 90%;
  padding: 10px;
  border: 1px solid red;
  outline: none;
  border-radius: 4px;
  height: 40px;
}

select{
  cursor: pointer;
}

::placeholder{
  color: rgb(39, 39, 192);
}

button{
color: white;
border-radius: 5px;
background: rgba(255, 50, 50, 0.86);
border: none;
height: 50px;
margin-left: 40%;
cursor:pointer;
}
